<div>
  <app-map [mapCenter]="mapCenter"></app-map>
  <div class="right-panel">
    <app-autosuggest (autoSuggestClick)="autoSuggestClick($event)" (change)="searchChange($event)"
                     [autoSuggestions]="autoSuggestions" [displayKey]="displayKey"
                     [placeHolder]="searchPlaceholder"
                     [value]="autoSuggestValue">
    </app-autosuggest>
    <div class="infobox" *ngIf="weather">
      Summary: {{weather.currently.summary}}<br>
      Temperature: {{weather.currently.temperature}} °F<br>
      Feels like: {{weather.currently.apparentTemperature}} °F<br>
      Forecast: {{weather.hourly.summary}}
    </div>
  </div>
</div>
